[Desktop Entry]
Version=1.0
Name=translationStudio
Comment=Platform for translating the Bible and biblical content
Type=Application
TryExec=/opt/translationstudio/translationStudio
Exec=/opt/translationstudio/translationStudio
Icon=unfoldingword-translationstudio
Terminal=false
Categories=Office;
MimeType=x-scheme-handler/tg;
