<!DOCTYPE html>
<html>
<head>
    <title>translationAcademy</title>

    <script src="../components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="../components/lodash/lodash.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">

    <link rel="import" href="../components/polymer/polymer.html">
    <link rel="import" href="../elements/ts-main/ts-academy-titlebar.html">
    <link rel="import" href="../elements/ts-main/ts-academy.html">
    <link rel="import" href="../elements/ts-main/app-theme.html">

</head>
<body>
    <ts-academy-titlebar></ts-academy-titlebar>
    <ts-academy></ts-academy>
</body>
</html>
