<!DOCTYPE html>
<html>
<head>
    <title>translationAcademy</title>
    <meta charset="utf-8"/>

    <script src="../components/webcomponentsjs/webcomponents-lite.min.js"></script>
<!--    <script src="../components/lodash/lodash.min.js"></script>-->
<!--    <script src="../js/academybootstrap.js"></script>-->

    <link rel="stylesheet" href="../css/main.css">

    <link rel="import" href="../components/polymer/polymer.html">
    <link rel="import" href="../elements/ts-main/ts-academy-titlebar.html">
<!--    <link rel="import" href="../elements/ts-main/ts-academy.html">-->
    <link rel="import" href="../elements/ts-main/app-theme.html">

</head>
<body>
    <ts-academy-titlebar></ts-academy-titlebar>
    <div id="react-app"></div>
<!--    <ts-academy></ts-academy>-->
    <script src="../js/academy/es6-bootstrap.js"></script>
</body>
</html>
