<!DOCTYPE html>
<html lang="en">
<head>
    <title>translationStudio</title>

    <script src="../components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="../components/lodash/lodash.min.js"></script>
    <script src="../js/bootstrap.js"></script>

    <link rel="stylesheet" href="../css/main.css">

    <link rel="import" href="../components/polymer/polymer.html">
    <link rel="import" href="../elements/ts-main/ts-dashboard.html">
    <link rel="import" href="../elements/ts-main/app-theme.html">

</head>
<body>
    <ts-dashboard></ts-dashboard>
</body>
</html>
