<!DOCTYPE html>
<html>
<head>
    <title>translationStudio</title>

    <script src="../components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">

    <link rel="import" href="../components/polymer/polymer.html">
    <link rel="import" href="../elements/ts-main/ts-splash.html">
    <link rel="import" href="../elements/ts-main/app-theme.html">

</head>
<body>
    <ts-splash id="splash"></ts-splash>

    <script>
    (function () {
        var ipcRenderer = require('electron').ipcRenderer;
        var splash = document.getElementById('splash');
        var pack = require('../../package');
        var version = pack.version.split('.').slice(0,-1).join('.');
        var versiontext = "Version " + version + " Build " + pack.build;

        splash.content = {title: "translationStudio", subtitle: versiontext, message: "Loading main window..."};

        ipcRenderer.on('loading-status', function (event, status) {
            splash.updateMessage(status);
        });

    })();
    </script>
</body>
</html>
