/*****************************************
 *
 * Noto Font
 *
 *****************************************/

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('NotoSans-Italic.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: bold;
  font-weight: 700;
  src: url('NotoSans-Bold.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url('NotoSans-BoldItalic.ttf');
}
