
* {
    overflow: visible !important;
    float: none !important;
}

h1, h2 {
    text-align: center;
}

#textholder p {
    widows: 3;
    orphans: 3;
    line-height: 130%;
}

#licenseholder * {
    font-family: 'Noto Sans', sans-serif;
}

.titles {
    margin-top: 400px;
}

.break {
    page-break-after: always;
}

.nobreak {
    page-break-inside: avoid;
}

.justify, .justify p {
    text-align: justify;
}

.double, .double p {
    line-height: 233%;
}

.nobreak p {
    margin-top: 0;
}

@page main {
    @bottom-center {
        content: counter(page);
    }
}

#textholder {
    page: main;
    counter-reset: page 1;
}

sup {
    font-size: 60%;
}

.obs #notices- {
    page-break-before: always;
}


