<!DOCTYPE html>
<html>
<head>
    <title>translationStudio</title>

    <script src="../components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <link rel="import" href="../components/polymer/polymer.html">
    <link rel="import" href="../components/iron-icons/iron-icons.html">

    <link rel="import" href="../elements/app-theme.html">

    <link rel="import" href="../elements/ts-app-titlebar/ts-app-titlebar.html">
    <link rel="import" href="../elements/ts-dashboard/ts-dashboard.html">

    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/bootstrap.js"></script>

    <script src="../components/page/page.js"></script>

    <script>
        page('/', blank);
        page('/home', home);
        page('/lang', lang);
        page('/proj', proj);
        page('/book', book);
        page('/chap', chap);
        page('/pubbook', pubbook);
        page('/pubprof', pubprof);
        page('/pubrev', pubrev);
        page('/pubpub', pubpub);

        page({hashbang: true});
    </script>

</head>
<body>
    <ts-app-titlebar></ts-app-titlebar>
    <ts-dashboard></ts-dashboard>
</body>
</html>
